.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: auto;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.searchBar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.searchInput {
  flex-grow: 1;
  border: none;
  padding: 4px;
  background-color: transparent;
  outline: 2px solid #ececec;
  font-size: 16px;
  color: black;
  border-radius: 8px 0 0 8px;
}

.searchInput::placeholder {
  color: #999;
}

.searchButton {
  background-color: #37ac50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #00b327;
}

.postList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.post-link {
  background-color: #99c099;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-link:hover {
  background-color: #e0e0e0;
}

.readMore_btn {
  color: rgba(0, 0, 0, 0.701);
  margin-top: 15px;
}

.readMore_btn:hover {
  transform: translateX(5px);
  transition: transform 0.2s;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationContainer {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.paginationContainer li {
  display: flex;
  align-items: center;
}

.paginationContainerCustom {
  margin: 0;
  padding: 0;
}

.paginationPage {
  background-color: #f4f4f4;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationPage:hover {
  background-color: #e0e0e0;
}

.paginationLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.paginationLink:hover {
  color: #555;
}

.paginationDisabled {
  color: #999;
  cursor: not-allowed;
}

.paginationActive {
  background-color: #184c85;
  color: #fff;
  cursor: default;
}

.backButton {
  margin-top: 20px;
}

.back-link {
  color: #2d6fb6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #147ae7;
}